<link rel="stylesheet" href="/css/map.css">
<script src="/js/map.js" defer></script>
<svg id="map-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2164 2162">
  <path id="pandora" class="cls-1" d="m954.07,545.02l-3.04,309.99c-.54,55.24-45.75,99.57-100.98,99.03l-308.06-3.03,4.03-410,408.05,4.01Z"/>
  <rect id="sports_direct" class="cls-1" x="5" y="4" width="269.5" height="947"/>
  <rect id="prezzo" class="cls-1" x="274.5" y="541.89" width="269.5" height="409.11"/>
  <rect id="nandos" class="cls-1" x="274.5" y="273.5" width="677.57" height="269.5"/>
  <rect id="new_look" class="cls-1" x="274.5" y="4" width="677.57" height="269.5"/>
  <path id="apple" class="cls-1" d="m1622,543v409.95h-311.93c-55.23,0-100-44.77-100-100v-309.95h411.93Z"/>
  <path id="parking_b" class="cls-1" d="m2160.07,4v948.95h-268.57l.5-409.95h-270V4h538.07Z"/>
  <rect id="santandare" class="cls-1" x="1622" y="543" width="269.5" height="409.95"/>
  <rect id="tesco_extra" class="cls-1" x="1210.07" y="273.5" width="411.93" height="269.5"/>
  <rect id="trespass" class="cls-1" x="1210.07" y="4" width="411.93" height="269.5"/>
  <path id="superdry" class="cls-1" d="m952.07,1310.95v310.05h-408.07v-410.05h308.07c55.23,0,100,44.77,100,100Z"/>
  <path id="parking_a" class="cls-1" d="m544,1210.95v949.05H8.42c-1.24-.32-2.38-.71-3.42-1.17v-945.76c3-1.32-4.32-2.07,0-2.07l539-.05Z"/>
  <path id="o2" class="cls-1" d="m952.07,1890.5v261.89c0,3.32-1.13,6.19-2.79,7.61h-405.28v-269.5h408.07Z"/>
  <rect id="barclays" class="cls-1" x="544" y="1621" width="408.07" height="269.5"/>
  <path id="rolex" class="cls-1" d="m1622,1210.95v410.05h-409.93v-310.05c0-55.23,44.77-100,100-100h309.93Z"/>
  <rect id="lloyds" class="cls-1" x="1622" y="1210.95" width="269.5" height="410.05"/>
  <rect id="select" class="cls-1" x="1891.5" y="1210.95" width="269.5" height="949.05"/>
  <rect id="primark" class="cls-1" x="1212.07" y="1621" width="679.43" height="539"/>
  <circle id="fountain" class="cls-1" cx="1082" cy="1081" r="99"/>
  <rect id="fire_exit_1" class="cls-1" x="5" y="1045" width="20" height="74"/>
  <rect id="fire_exit_2" class="cls-1" x="1072" y="-23" width="20" height="74" transform="translate(1096 -1068) rotate(90)"/>
  <rect id="fire_exit_3" class="cls-1" x="2140" y="1043" width="20" height="74"/>
  <rect id="fire_exit_4" class="cls-1" x="1072" y="2113" width="20" height="74" transform="translate(3232 1068) rotate(90)"/>
  <image id="lloyds_logo" width="1519" height="1312" transform="translate(1651 1325) scale(.14)" xlink:href="/images/LYG.png"/>
  <image id="pandora_logo" width="1600" height="1600" transform="translate(606.89 606) scale(.18)" xlink:href="/images/PNDORA.CO.png"/>
  <image id="barclays_logo" width="1453" height="1554" transform="translate(654 1654) scale(.13)" xlink:href="/images/BCS.png"/>
  <image id="o2_logo" width="1557" height="1557" transform="translate(654.24 1930.24) scale(.12)" xlink:href="/images/O2D.DE.png"/>
  <image id="tesco_logo" width="1217" height="1516" transform="translate(1329 298) scale(.14)" xlink:href="/images/TSCDF.png"/>
  <image id="santandare_logo" width="1596" height="1516" transform="translate(1662 657) scale(.12)" xlink:href="/images/SAN.png"/>
  <image id="apple_logo" width="1263" height="1500" transform="translate(1297.87 605.85) scale(.19)" xlink:href="/images/AAPL.png"/>
  <image id="superdry_logo" width="5617" height="1893" transform="translate(580.09 1359.91) scale(.06)" xlink:href="/images/SDRY.png"/>
  <image id="prezzo_logo" width="4724" height="1810" transform="translate(285.76 696.64) scale(.05)" xlink:href="/images/PREZZO.png"/>
  <image id="sports_direct_logo" width="3298" height="1434" transform="translate(18.26 424.87) scale(.07)" xlink:href="/images/SPORTSDIRECT.png"/>
  <image id="nandos_logo" width="2600" height="1455" transform="translate(423 301) scale(.15)" xlink:href="/images/NANDOS.png"/>
  <image id="newlook_logo" width="1000" height="620" transform="translate(413 18) scale(.39)" xlink:href="/images/NEWLOOK.png"/>
  <image id="primark_logo" width="1200" height="780" transform="translate(1235.85 1685) scale(.53)" xlink:href="/images/PRIMARK.png"/>
  <image id="rolex_logo" width="474" height="463" transform="translate(1237.33 1241) scale(.76)" xlink:href="/images/ROLEX.png"/>
  <image id="trespass_logo" width="600" height="294" transform="translate(1267 65.5) scale(.5)" xlink:href="/images/TRESPASS.png"/>
  <image id="select_logo" width="600" height="600" transform="translate(1902 1561) scale(.41)" xlink:href="/images/SELECT.png"/>
  <image id="parking_a_logo" width="370" height="370" transform="translate(80 1500)" xlink:href="/images/PARKING.png"/>
  <image id="parking_b_logo" width="370" height="370" transform="translate(1706 88)" xlink:href="/images/PARKING.png"/>
</svg>
<div class="map-nav">
  <button type="reset" id="reset-map" onclick="center()"><i class="fas fa-circle"></i></button>
  <button id="zoom-in" onclick="zoomin()"><i class="fas fa-chevron-up"></i></button>
  <button id="zoom-out" onclick="zoomout()"><i class="fas fa-chevron-down"></i></button>
</div>