<link rel="stylesheet" href="/css/map.css">
<script src="/js/map.js" defer></script>
<svg id="map-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2164 2162">
  <path id="pandora" class="map-1" d="m952.07,543v309.95c0,55.23-44.77,100-100,100h-308.07v-409.95h408.07Z"/>
  <rect id="sports_direct" class="map-1" x="5" y="4" width="269.5" height="948.95"/>
  <rect id="prezzo" class="map-1" x="274.5" y="543" width="269.5" height="409.95"/>
  <rect id="nandos" class="map-1" x="274.5" y="273.5" width="677.57" height="269.5"/>
  <rect id="new_look" class="map-1" x="274.5" y="4" width="677.57" height="269.5"/>
  <path id="apple" class="map-1" d="m1622,543v409.95h-311.93c-55.23,0-100-44.77-100-100v-309.95h411.93Z"/>
  <path id="parking_b" class="map-1" d="m2160.07,4v948.95h-268.57l.5-409.95h-270V4h538.07Z"/>
  <rect id="santandare" class="map-1" x="1622" y="543" width="269.5" height="409.95"/>
  <rect id="tesco_extra" class="map-1" x="1210.07" y="273.5" width="411.93" height="269.5"/>
  <rect id="trespass" class="map-1" x="1210.07" y="4" width="411.93" height="269.5"/>
  <path id="superdry" class="map-1" d="m952.07,1310.95v310.05h-408.07v-410.05h308.07c55.23,0,100,44.77,100,100Z"/>
  <path id="parking_a" class="map-1" d="m544,1210.95v949.05H8.42c-1.24-.32-2.38-.71-3.42-1.17v-945.76c3-1.32,6.94-2.12,11.26-2.12h527.74Z"/>
  <path id="o2" class="map-1" d="m952.07,1890.5v261.89c0,3.32-1.13,6.19-2.79,7.61h-405.28v-269.5h408.07Z"/>
  <rect id="barclays" class="map-1" x="544" y="1621" width="408.07" height="269.5"/>
  <path id="rolex" class="map-1" d="m1622,1210.95v410.05h-409.93v-310.05c0-55.23,44.77-100,100-100h309.93Z"/>
  <rect id="lloyds" class="map-1" x="1622" y="1210.95" width="269.5" height="410.05"/>
  <rect id="select" class="map-1" x="1891.5" y="1210.95" width="269.5" height="949.05"/>
  <rect id="primark" class="map-1" x="1212.07" y="1621" width="679.43" height="539"/>
  <circle id="fountain" class="map-1" cx="1082" cy="1081" r="99"/>
</svg>
<div class="map-nav">
  <button type="reset" id="reset-map" onclick="center()"><i class="fas fa-circle"></i></button>
  <button id="zoom-in" onclick="zoomin()"><i class="fas fa-chevron-up"></i></button>
  <button id="zoom-out" onclick="zoomout()"><i class="fas fa-chevron-down"></i></button>
</div>